{% load static %}
<html>
    <head>
        <title>Got Talent Producciones</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
   
    <body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">!Bienvenido a </a></h1>
        </div>
        <div class="logo">
            <img src="https://media.giphy.com/media/3ofT5AyL47eMAl9cyc/giphy.gif"  height="135">
        </div>
         <div class="baile">
            <img src="https://i.pinimg.com/236x/d0/5b/0c/d05b0c23d6792fe314eecd896cc38c81.jpg"  height="260">
        </div>
        <div class="baile2">
            <img src="https://st3.depositphotos.com/2860187/17468/v/600/depositphotos_174686200-stock-video-girl-sings-in-a-retro.jpg"  height="300">
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>